<div class="container home-sections d-flex flex-row justify-content-center
  align-items-center"
>
  
  <% if current_user %>
    <div class="card text-center pt-5 mx-auto" style="width:23rem">
      <h1>ログインできた！</h1>
      <p>full_name: <%= current_user.full_name %></p>

      <p>username: <%= current_user.username %></p>

      <p>e-mail: <%= current_user.email %></p>
      
      <%= button_to "サインアウト", destroy_user_session_path, class: "fs-6 my-4 text-decoration-none text-info", method: :delete %>
    </div>

    
  <% elsif %>
    <h1>ログインしていない</h1>
    <%= button_to "サインイン", new_user_session_path, class: "fs-6 my-4 text-decoration-none text-info" %>
  <% end %>
</div>